{% extends '_base.html' %}

{% block title %}

    Bot {{ bot.profile }}


{% endblock %}

{% block content %}

    {{ bot.profile }}
    <a href="{% url 'bot-profile-update' pk=bot.profile.pk %}">Update bots profile</a>
    {{ bot.user }}

    <div class="container-md">
    Select bot action!

        <a href="{% url 'bot_send_likes' pk=bot.pk %}">Send Likes!</a>
    </div>

    <div class="container-md">
    Matches:
    {% for match in bot_matches %}
    {{ match }}
    {% endfor %}
    <p>
    Its filtered profiles:
    {% for profile in filtered_profiles %}
        {{ profile }}
    {% endfor %}
    </p>
    </div>
{% endblock %}