{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block content %}



<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
    {% for moderator in moderators %}
        <div class="card shadow sm">
        <p>{{ moderator.profile }}</p>

        <p>Complains responsible for: {{ moderator.complains_responsible.select_related.count }}</p>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-md-4 g-4">
        {% for complain in moderator.complains_responsible.select_related %}
            <a href="{{ complain.get_absolute_url }}">
            <div {% if complain.status %}style="background: greenyellow"{% else %}style="background: palevioletred"{% endif %} class="card">
                <p>ID: {{ complain.id }}</p>
            <div class="card-body">
            <p>Status: {% if complain.status %}closed{% else %}open{% endif %} | DECISION: {{ complain.user_block_decision }} </p>
            </div>
            </div>
            </a>

        {% endfor %}
        </div>
        </div>

    {% endfor %}
</div>





{% endblock %}