{% extends '_base.html' %}
{% block title %}
{{ chat.profiles }}
{% endblock %}
{% block content %}
<div id="chat-log" cols="100" rows="20">
        {% for message in chat_messages %}
        <div {% if message.sender == user.profile %} style="padding-left: 80%"{% else %}style="padding-left: 20%"{% endif %}><p style="font-size: 12px">Message from: <a href="{{ message.sender.get_absolute_url }}">{{ message.sender.first_name }}</a></p>
        {{ message.text }}</div>
        {% endfor %}
        <p id="message_story">
        </p>
    </div><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    CHAT ID IS: {{ chat.id }}
    {{ chat_name|json_script:"chat-name" }}
    asdasd{{ chat_name }}asdas
    <script>
        const chatName = JSON.parse(document.getElementById('chat-name').textContent);
        const chatSocketCreate = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/{{ chat.id }}'
            + '/'
        );

        chatSocketCreate.onopen = function(e) {
            const message = JSON.parse(e.data);
            for (let i = 0; i < messages_data.length; i++){
                document.querySelector('#chat_log').value += (message + '\n')
            }
        };

        chatSocketCreate.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var d = document.createElement('div')
            console.log(data.user_id)
            document.querySelector('#message_story').innerHTML += `<div style="padding-left: 20%"><p class="muted" style="color: #d63384">new!</p><p style="font-size: 12px">Message from: <a href="#">${data.sender}</a></p>${data.message}</div>`;
        };

        chatSocketCreate.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocketCreate.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}


</body>
</html>